$custom-colors: (
  "gray": $gray-400,
  "white": $white,
  "black": $black,
  "light-alternative": rgba(208,231,231,0.3),
  "lightgreen": #CFE7CD
);

$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");
